/* Global Classes */

button, button:focus{
    outline:none!important;
    box-shadow:none!important;
}

.copyright .my-name{
    text-decoration: none;
}

.copyright .my-name{
    color: #20B2AA;
}

.copyright .my-name:hover{
    color: #ffffff;
}

.form-row .subscribe-btn:hover{
    background-color: #0c978f;
}